{% include "header.html" %}

<body>
	<div id="wrapper">
		<div style="float:right">
			<a href="/">home</a> |
			{% if admin %}
			<a href="/{{ site.url }}/edit">edit settings</a> |
			{% endif %}
			<a href="{{ login_url }}">
				{% if loggedIn %}logout{% else %}login{% endif %}
			</a>
		</div>
		<div id="siteTitle"><a href="/{{ site.url }}">{{ site.name }}</a></div>
		<div class="slogan">{{ site.slogan }}</div>
		
		<div id="bestTitle">Best {{ besttime}}</div>
		
		
		{% include "bestlinks.html" %}
		
		
		<div id="wrapper">
			{% for item in items %}
			{% include "story.html" %}
			{% endfor %}
		</div>
		
		
	</div>
	
</body>
</html>