<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<script language="JavaScript" src="/scripts/jquery.js"></script>
		<script language="JavaScript" src="/scripts/vote.js"></script>
		<title>{{ site.name }}</title>
		<meta property="og:site_name" content="Popular Site Template"/> 
		<meta property="og:title" content="{{ site.name }}"/> 
		<meta property="og:url" content="http://www.popularsitetemplate.com/{{ site.url }}"/> 
		<meta property="og:type" content="website"/>
		<meta property="fb:admins" content="1141800361"/>
		<meta property="og:description"
			content="Create your own popular site with Popular Site Template!"/>
		{% include "bg.html" %}
	</head>