{% include "header.html" %}

	<body>
		<div id="facebook">
		<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.popularsitetemplate.com%2F{{ site.url }}&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
		</div>
	
		<div id="wrapper">
			<div style="float:right">
				<a href="/">home</a> |
				{% if admin %}
				<a href="/{{ site.url }}/edit">edit settings</a> |
				{% endif %}
				{% if loggedIn %}
				<a href="{{ login_url }}">logout</a>
				{% else %}
				<a href="{{ login_url }}">login</a>
				{% endif %}
			</div>
			<div id="siteTitle"><a href="/{{ site.url }}">{{ site.name }}</a></div>
			
			<div class="slogan">{{ site.slogan }}</div>
			
			{% include "bestlinks.html" %}
			
			{% if site.isAnonymous %}
			<div class="notice">
				Note: All stories posted to this site are anonymous.
			</div>
			{% endif %}
			
			{% if loggedIn %}
			<form	action="/{{ site.url }}/newitem" 
				{% if site.hasPhotos %}
				enctype="multipart/form-data"
				{% endif %}
					method="post">
				<div><textarea name="content"></textarea></div>
				{% if site.hasPhotos %}
				<div class="fileSelect"><input type="file" name="image" /></div>
				{% endif %}
				<div class="submitIdea button"><input type="submit" value="Submit It"></div>
			</form>
			{% else %}
			<div id="loginRequest">
			<a href="{{ login_url }}">Log in</a> to submit a post.
			</div>
			{% endif %}
			
			<div style="clear:both"></div>
			
			<div id="wrapper">
				{% for item in items %}
					{% include "story.html" %}
				{% endfor %}
			</div>
			
			
		</div>
		
	</body>
</html>